
body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0 ;
    width: 375px;
    justify-content: center;
    align-content: center;
    background-color: hsl(257, 40%, 49%);
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-position: right top;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 30px 0 60px 10px;
    width: 35%;  
    margin-right: auto;
    margin-left: 20px;
}


.mock {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 { 
    font-weight: 500;
    font-size: 30px ;
    margin-top: 50px;
    text-align: center;
    width: 90%;

}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    margin: 10px 0;
    line-height: 25px;
    padding: 10px;
    text-align: center;
    width: 95%;
}

button {
    background: white;
    border: .5px solid #1b1b1b;
    border-radius: 25px;
    box-shadow: 1px 2px #5f45a1;
    color: #674baf;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
    width: 60%;
    padding: 15px;

}

.socials{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.socials a {
    margin: 5px;
}


svg {
    height: 20px;
    width: 20px;
    fill: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}

.attribution { 
font-size: 11px;
text-align: center; 
}

.attribution a {
color: white; 
}

